body
{
    color:azure;
    background: purple;
}

.heading
{
    width:80%;
    font-size:22px;

}

#camera
{
    border:20px dashed black;
    width: 350px;
    height:300px;

}

.name_of_the_object, #result_object_name, #result_object_accuracy
{
    color: rgb(55, 0, 255);
}